.text-black {
    color: #000;
  }
  
  .text-pink-600 {
    color: #d53f8c; /* Tailwind's pink-600 */
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .text-red-600 {
    color: #c53030; /* Tailwind's red-600 */
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.25rem; /* Adjust the size as needed */
  }
  
  br {
    display: block;
    content: "";
    margin: 1rem 0; /* Add space between breaks */
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }
  